.bg-1 {
    background-color: rgb(59, 95, 255);
    display: flex;
    flex-basis: 90%;


}

.bg-2 {
    background-color: rgb(76, 151, 95);
    display: flex;
    flex-basis: 90%;

}

.bg-3 {
    background-color: rgb(240, 240, 136);
    display: flex;
    flex-basis: 100%;
}

.bg-4 {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-basis: 100%;
}

.containerz {
    width: 100%;    
}

.row {
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: row;
}

.card-outer-edge {
    
    width: 500px;

}

.card-edge{
    border: 5px black solid;
    border-radius: 5px;
    background-color: lightgray;
    height: 450px;
    flex-basis: 35%;
    margin: 50px;
    display: flex;
    margin-left: auto ;
    margin-right: auto ;
    justify-content: center;
    align-items: center;
    width: 450px;
}

.card-role {
    
    background-color: rgb(160, 160, 160);
    height: 50px;
    width: 100%;
    margin: 10px;
}

.card-info {    
    background-color: lightgray;
    height: 350px;
    flex-basis: 100%;
    margin: 10px;
}

.card-name {
    border: 1px black solid;
    background-color: lightgray;
    height: 50px;
    flex-basis: 100%;
    display: flex;
    margin: 5px;
    align-items: center;
    padding: 5px;
}

.card-id {
    border: 1px black solid;
    background-color: lightgray;
    height: 50px;
    flex-basis: 100%;
    margin: 5px;
    align-items: center;
    padding: 5px;
}

.card-email {
    border: 1px black solid;
    background-color: lightgray;
    height: 50px;
    flex-basis: 100%;
    margin: 5px;
    align-items: center;
    padding: 5px;

}

.card-officeNumber {
    border: 1px black solid;
    background-color: lightgray;
    height: 50px;
    flex-basis: 100%;
    margin: 5px;
    align-items: center;
    padding: 5px;
}

h1 {
    color: whitesmoke;
    text-align: center;   
}

h2 {
    text-align: center;
    font-size: 75px;
}

h4 {
    text-align: left;
    vertical-align: middle;
    font-size: 75px;
}

@media screen and (max-width: 768px) {
    .card-edge {
        flex-basis: 90%;
    }
    
}